<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>प्रबंधक माहिती</string>
		<key>file_name</key>
		<string>maintainer_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>सर्टिफिकेट माहिती</string>
		<key>file_name</key>
		<string>certificates_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>पोर्टल गाइड</string>
		<key>file_name</key>
		<string>portal_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>ESign गाइड</string>
		<key>file_name</key>
		<string>esign_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Feather गाइड</string>
		<key>file_name</key>
		<string>feather_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>GBox गाइड</string>
		<key>file_name</key>
		<string>gbox_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Scarlet गाइड</string>
		<key>file_name</key>
		<string>scarlet_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>पोस्ट इनस्टॉल नोट्स</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>सोर्स</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>VPN सेटअप</string>
		<key>file_name</key>
		<string>vpn_setup.md</string>
	</dict>
</array>
</plist>