<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>Thông tin về người dịch</string>
		<key>file_name</key>
		<string>maintainer_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Thông tin về Certificate</string>
		<key>file_name</key>
		<string>certificates_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Hướng dẫn sử dụng Portal</string>
		<key>file_name</key>
		<string>portal_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Hướng dẫn sử dụng ESign</string>
		<key>file_name</key>
		<string>esign_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Hướng dẫn sử dụng Feather</string>
		<key>file_name</key>
		<string>feather_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Hướng dẫn sử dụng GBox</string>
		<key>file_name</key>
		<string>gbox_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Hướng dẫn sử dụng Scarlet</string>
		<key>file_name</key>
		<string>scarlet_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Lưu ý sau khi cài đặt</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Nguồn</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Thiết lập VPN</string>
		<key>file_name</key>
		<string>vpn_setup.md</string>
	</dict>
</array>
</plist>
