<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>Información del mantenedor</string>
		<key>file_name</key>
		<string>maintainer_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Información de certificados</string>
		<key>file_name</key>
		<string>certificates_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guía de Portal</string>
		<key>file_name</key>
		<string>portal_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guía de ESign</string>
		<key>file_name</key>
		<string>esign_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guía de Feather</string>
		<key>file_name</key>
		<string>feather_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guía de GBox</string>
		<key>file_name</key>
		<string>gbox_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guía de Scarlet</string>
		<key>file_name</key>
		<string>scarlet_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Notas posteriores a la instalación</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Fuentes</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Configuración de VPN</string>
		<key>file_name</key>
		<string>vpn_setup.md</string>
	</dict>
</array>
</plist>
