<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>Announcements and News</string>
		<key>file_name</key>
		<string>news.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Introduction</string>
		<key>file_name</key>
		<string>welcome.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>How does this work?</string>
		<key>file_name</key>
		<string>how_does_this_work.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Before we start</string>
		<key>file_name</key>
		<string>device_compatibility.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Which Profile do i choose?</string>
		<key>file_name</key>
		<string>configuration_profile_options.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>How to install the profile?</string>
		<key>file_name</key>
		<string>installing_the_configuration_profile.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>How to install ESign?</string>
		<key>file_name</key>
		<string>installing_esign.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>How to setup ESign?</string>
		<key>file_name</key>
		<string>setting_up_esign.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>How to use ESign?</string>
		<key>file_name</key>
		<string>using_esign.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Post Install Notes</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Error fixes</string>
		<key>file_name</key>
		<string>unable_to_install.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>ESign Sources</string>
		<key>file_name</key>
		<string>esign_sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Frequently asked questions</string>
		<key>file_name</key>
		<string>faq.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Miscellaneous Guides</string>
		<key>file_name</key>
		<string>other_guides.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Contributions</string>
		<key>file_name</key>
		<string>contributions.md</string>
	</dict>
</array>
</plist>
