<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>Announcements</string>
		<key>file_name</key>
		<string>announcements.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Certificate Informations</string>
		<key>file_name</key>
		<string>certificates.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Introduction</string>
		<key>file_name</key>
		<string>intro.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>FAQ</string>
		<key>file_name</key>
		<string>faq.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Which Profile do I choose?</string>
		<key>file_name</key>
		<string>choosing_config_profile.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Installing the Config Profile</string>
		<key>file_name</key>
		<string>installing_config_profile.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>How to Install ESign?</string>
		<key>file_name</key>
		<string>installing_esign.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Post Install Notes</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Troubleshooting</string>
		<key>file_name</key>
		<string>troubleshooting.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Sources</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Miscellaneous Guides</string>
		<key>file_name</key>
		<string>misc_guides.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Switching Configs</string>
		<key>file_name</key>
		<string>switching.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>VPN Guide</string>
		<key>file_name</key>
		<string>vpn.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Revoked Guide</string>
		<key>file_name</key>
		<string>revoked.md</string>
	</dict>
</array>
</plist>
