<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>유지 관리자 정보</string>
		<key>file_name</key>
		<string>maintainer_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>인증서 정보</string>
		<key>file_name</key>
		<string>certificates_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>포털 가이드</string>
		<key>file_name</key>
		<string>portal_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>ESign 가이드</string>
		<key>file_name</key>
		<string>esign_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Feather 가이드</string>
		<key>file_name</key>
		<string>feather_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>GBox 가이드</string>
		<key>file_name</key>
		<string>gbox_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Scarlet 가이드</string>
		<key>file_name</key>
		<string>scarlet_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>설치 후 참고 사항</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>소스</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>VPN 설정</string>
		<key>file_name</key>
		<string>vpn_setup.md</string>
	</dict>
</array>
</plist>
