<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>Announcements</string>
		<key>file_name</key>
		<string>announcements.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Zertifikatsinfos</string>
		<key>file_name</key>
		<string>certificates.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Intro</string>
		<key>file_name</key>
		<string>intro.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Installation des Konfigurationsprofils</string>
		<key>file_name</key>
		<string>installing_config_profile.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Installation von ESign</string>
		<key>file_name</key>
		<string>installing_esign.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Nach der Installation</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Fehlerbehebung</string>
		<key>file_name</key>
		<string>troubleshooting.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>ESign Sources</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Revokes fixen</string>
		<key>file_name</key>
		<string>fix_revokes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>VPN Setup</string>
		<key>file_name</key>
		<string>vpn_setup.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Wechseln von Konfigurationsprofilen</string>
		<key>file_name</key>
		<string>switching_config_profiles_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Nutzung von Nugget/Cowabunga</string>
		<key>file_name</key>
		<string>using_nuggetcowabunga_guides.md</string>
	</dict>
</array>
</plist>
