<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>file_title</key>
		<string>Informações sobre o Mantenedor</string>
		<key>file_name</key>
		<string>maintainer_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Informações sobre os Certificados</string>
		<key>file_name</key>
		<string>certificates_information.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guia para o Portal</string>
		<key>file_name</key>
		<string>portal_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guia para o ESign</string>
		<key>file_name</key>
		<string>esign_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guia para o Feather</string>
		<key>file_name</key>
		<string>feather_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guia para o GBox</string>
		<key>file_name</key>
		<string>gbox_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Guia para o Scarlet</string>
		<key>file_name</key>
		<string>scarlet_guide.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Notas Pós-instalação</string>
		<key>file_name</key>
		<string>post_install_notes.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Fontes</string>
		<key>file_name</key>
		<string>sources.md</string>
	</dict>
	<dict>
		<key>file_title</key>
		<string>Configurações de VPN</string>
		<key>file_name</key>
		<string>vpn_setup.md</string>
	</dict>
</array>
</plist>
